<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Summary</a>
      <a mat-list-item href="#">SP500</a>
      <a mat-list-item href="#">Others</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>vanstock</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <div *ngIf="cnnImgUrl | async as imgUrl; else loading">
          <a href="https://money.cnn.com/data/fear-and-greed/">
            <img [src]="imgUrl">
          </a>
        </div>

      </mat-grid-tile>
      <mat-grid-tile>
        <div *ngIf="breadthDataUrl | async as breadth; else loading">
          <mat-card>
            <a href="https://breadth.app/breadth">
              <img src={{breadth}}>
            </a>
          </mat-card>

        </div>
      </mat-grid-tile>
      <mat-grid-tile><div style="display: block;">
        <canvas baseChart
          [datasets]="scatterChartData"
          [options]="scatterChartOptions"
          [chartType]="scatterChartType">
        </canvas>
      </div></mat-grid-tile>
      <mat-grid-tile>
        <div style="display: block;">
          <canvas baseChart width="400" height="200"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
          </canvas>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div id="technical-analysis"></div>

      </mat-grid-tile>

    </mat-grid-list>


    <button mat-button>{{ quote }} app is running!</button>



  </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
